html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	color: #FFF;
	font-family: Helvetica, Arial, sans-serif;
	text-align: center;
	background: #6dc6dd; /* Old browsers */
	background: -moz-radial-gradient(center, ellipse cover,  #8ddcf0 0%, #6dc6dd 100%); /* FF3.6+ */
	background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,#8ddcf0), color-stop(100%,#6dc6dd)); /* Chrome,Safari4+ */
	background: -webkit-radial-gradient(center, ellipse cover,  #8ddcf0 0%,#6dc6dd 100%); /* Chrome10+,Safari5.1+ */
	background: -o-radial-gradient(center, ellipse cover,  #8ddcf0 0%,#6dc6dd 100%); /* Opera 12+ */
	background: -ms-radial-gradient(center, ellipse cover,  #8ddcf0 0%,#6dc6dd 100%); /* IE10+ */
	background: radial-gradient(ellipse at center,  #8ddcf0 0%,#6dc6dd 100%); /* W3C */
}
#header {
	height: 40px;
	background-color: #FFF;-webkit-box-shadow: 0 15px 15px -10px #5db8d8;
	-moz-box-shadow: 0 15px 15px -10px #5db8d8;
	box-shadow: 0 15px 15px -10px #5db8d8;
}
h1 {
	float: left;
	margin: 0 5%;
	color: #6dc6dd;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 18px;
	font-weight: 400;
	line-height: 40px;
	text-align: left;
	text-transform: uppercase;
}
h1 a {
	text-decoration: none;
	color: #6dc6dd;
}
h2 {
	clear: both;
	margin: 0;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 3em;
	font-weight: 400;
	line-height: 70px;
}
.google-play {
	width: 88px;
	margin: 5px 10px;
}
form {
	margin: 0 5%;
	padding: 20px 0;
	position: relative;
}
.acordarAs {
	-webkit-box-shadow: 0 15px 15px -10px #5db8d8;
	-moz-box-shadow: 0 15px 15px -10px #5db8d8;
	box-shadow: 0 15px 15px -10px #5db8d8;
}
label {
	width: 200px;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #47a0c0;
	position: absolute;
	top: 270px;
}
span {
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 45px;
	font-weight: 400;
	line-height: 70px;
}
.campo-horario {
	width: 200px;
	padding: 0px;
	margin-bottom: 50px;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 120px;
	font-weight: 100;
	line-height: 120px;
	text-align: center;
	color: #FFF;
	background-color: transparent;
	border: none;
	border-bottom: 1px #FFF solid;
	outline: none;
}
.btn {
	display: block;
	height: 65px;
	width: 400px;
	margin: 20px auto;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 19px;
	font-weight: 400;
	line-height: 65px;
	text-align: center;
	text-transform: uppercase;
	color: #8ddcf0;
	background-color: #5db8d8;
	cursor: pointer;
	border: none;
	border-radius: 10px;
	outline: none;
	-webkit-transition: all 0.2s ease;
	-moz-transition: all 0.2s ease;
}
.btn:hover, .btn:focus {
	color: #FFF;
	background-color: #58b1d0;
}
.hidden {
	display: none;
}
.sugestao {
	padding: 20px 0;
}
.sugestao ul {
	list-style: none;
	width: 400px;
	margin: 0 auto;
	padding: 20px;
}
.sugestao ul li {
	height: 70px;
	padding: 0 0 0 25px;
	list-style: none;
	text-align: left;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 16px;
	font-weight: 400;
	text-transform: uppercase;
	color: #47a0c0;
	border-bottom: 1px dotted #FFF;
}
.sugestao ul li:last-child {
	border: none;
}
.sugestao span {
	padding: 0 10px;
	font-family: 'Lato', Helvetica, Arial, serif;
	font-size: 46px;
	font-weight: 400;
	line-height: 70px;
	text-transform: none;
	color: #FFF;
}
.about {
	clear: both;
	padding: 30px 0;
	margin: 40px 5% 0 5%;
	-webkit-box-shadow: inset 0 15px 15px -10px #5db8d8;
	-moz-box-shadow:inset  0 15px 15px -10px #5db8d8;
	box-shadow: inset 0 15px 15px -10px #5db8d8;
}
.about p {
	margin: 0 auto;
	font-size: 15px;
	color: #3289a8;
}
.about a {
	color: #3289a8;
	text-decoration: none;
	font-weight: bold;
}
.about a:hover {
	text-decoration: underline;
}